.contacts {
  margin-left: auto;
}

.contacts .link {
  color: $text-color;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

.street {
  margin-top: 0;
  margin-bottom: 9px;
}
.location {
  color: $white;
  line-height: 1.7;
  font-style: normal;
  margin-top: 20px;
}

.footer-contacts {
  color: $contacts-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contact__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}
